body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  background-color: #f7f7f7;
}

.content-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f7f7f7;
}

h1 {
  color: #333;
  font-size: 36px;
  margin-bottom: 20px;
}
